<div class="home">
   <div class="stats">
     <h3>Total Stock: <%= Shop.stock_total(@albums)%> </h3>
     <h3>Stock by Genre:</h3>
     <ul>
       <% @stats.each do |album| %>
         <li><%= album["genre"]%>: <%= album["stock"]%></li>
       <% end %>
     </ul>

     <h3>Total Spend: £<%= Shop.total_spend(@albums)%> </h3>

     <h3>Spend by Genre:</h3>
     <ul>
       <% @stats.each do |album| %>
       <li><%= album["genre"]%>: £<%= album["buy_price"]%> </li>
       <% end %>
     </ul>

     <h3>Profit by Genre:</h3>
     <ul>
     <% @stats.each do |album| %>
      <li><%= album["genre"]%>: £<%= album["profit"]%></li>
      <% end %>
     </ul>

     <h2>Total Profit: <%= Shop.profit_all(@albums)%></h2>
     
   </div> 
   </div>