<header>
<h1>Stock Control</h1>
  <nav>
    <ul>
      <li ><a href="/">Home</a></li>
      <li class="selected"><a href="/stock">Stock</a></li>
    </ul>
  </nav>
</header>
 <div class="container">
  <div class="search" >
    <form action="/stock/search" method="get">
      <input type="text" name="search-text">
      <input type="submit" value="Search">
    </form>
  </div>
   <div class="stock">
     <% @artists.each do |artist| %>
        <a href="/stock?sort=asc&by=price_sell_max&artist_id=<%=artist.id%>">Sort by Price Selling</a>
         <span class="artist"> <%= artist.name %> </span>
          <form action="/artists/<%= artist.id%>" method="post">
           <input type="hidden" name="_method" value="delete">
           <button><a href="/artists/<%= artist.id%>/edit">Edit</a></button>
           <button type="submit">Delete</button>
            
          </form>
         <table>
          <tr>
          <th>Name</th>
          <th>Genre</th>
          <th>Buy Price</th>
          <th>Selling Price</th>
          <th>Stock</th>
          <th>Profit</th>
          </tr>
          <tr>
           <% x = artist.albums %>
           <% list = Album.sort_price_buying_max( x )%>
           <% list.each do |album| %>
           <td><%= album.name %></td>
           <td> <%= album.genre %></td>
           <td> <%= album.stock %></td>
           <td> £<%= album.price_buying %></td>
           <td> £<%= album.price_selling %></td>
           
           <td> £<%= album.profit %></td>
          </tr>
          <tr>
           <td colspan="6">
            <form action="/albums/<%= album.id %>" method="post">
              <input type="hidden" name="_method" value="delete">
              <button><a href="/albums/<%= album.id %>/edit">Edit</a></button>
              <button type="submit">Delete</button>
            </form>
           </td>
          </tr>
           
            

           <% end %>
          </table>
     <% end %>
   </div>