<header>
<h1>Stock Control</h1>
  <nav>
    <ul>
      <li ><a href="/">Home</a></li>
      <li class="selected"><a href="/stock">Stock</a></li>
    </ul>
  </nav>
</header>
 <div class="container">
  

  <div class="search" >
    <form action="/stock/search" method="get">
      <input type="text" name="search-text">
      <button type="submit">Search</button>
    </form>
  </div>
  




   <div class="stock">
       <h3>Sort By</h3>
         <nav>
             <a href="/stock?sort=asc&by=price_sell_max">Price Selling &#65514;</a>
             <a href="/stock?sort=des&by=price_sell_min">Price Selling &#65516;</a>
             <a href="/stock?sort=asc&by=price_buying_min">Buy Price &#65514;</a>
             <a href="/stock?sort=des&by=price_buying_min">Buy Price &#65516;</a>
         </nav>
         <label for="select">Sort</label>
       













     <% @artists.each do |artist| %>
       
             <span class="artist"> <%= artist.name %> </span>
              <form action="/artists/<%= artist.id%>" method="post">
               <input type="hidden" name="_method" value="delete">
               <button><a href="/artists/<%= artist.id%>/edit">Edit</a></button>
               <button type="submit">Delete</button>
                
              </form>
             <table>
              <tr>
              <th>Name</th>
              <th>Genre</th>
              <th>Buy Price</th>
              <th>Selling Price</th>
              <th>Stock</th>
              <th>Profit</th>
              </tr>
              <tr>
               <% albums_list = artist.albums %>
               <% result = Shop.check(@options,albums_list) %>
               <% result.each do |album| %>
               <td><%= album.name %></td>
               <td> <%= album.genre %></td>
               <td> £<%= album.price_buying%></td>
               <td> £<%= album.price_selling %></td>
               <td> <%= album.stock %></td>
               
               <td> £<%= Shop.profit( album ) %></td>
              </tr>
              <tr>
               <td colspan="6">
                <form action="/albums/<%= album.id %>" method="post">
                  <input type="hidden" name="_method" value="delete">
                  <button><a href="/albums/<%= album.id %>/edit">Edit</a></button>
                  <button type="submit">Delete</button>
                </form>
               </td>
              </tr>


               
                

               <% end %>
              </table>
              <hr>
     <% end %>
   </div>
   

 </div>