<div class="album-edit-container">
 <div class="album-edit">

       <form action="/albums/<%= @album.id %>" method="post">
        <input type="hidden" name="_method" value="put">

          <label for="name">Name:</label><br>
          <input type="text" name="name" value="<%= @album.name %>"><br>

          <label for="genre">Genre:</label><br>
          <input type="text" name="genre" value="<%= @album.genre %>"><br>

          <label for="price_buying">Price Buying:</label><br>
          <input type="text" name="price_buying" value="<%= @album.price_buying %>"><br>

          <label for="price_selling">Price Selling:</label><br>
          <input type="text" name="price_selling" value="<%= @album.price_selling %>"><br>

          <label for="stock">Stock:</label><br>
          <input type="text" name="stock" value="<%= @album.stock %>"><br>

          <input type="submit" value="save">

        </form>

 </div>

</div>
